*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.primary {
    color: #fd6e0a;
}
/* Header and navigation style */
.header{
    background-color:#fff8f3;
    background-image: url(../images/header_bg.png), url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    background-size: auto, contain;
    
}
.nav-title{
    font-weight: 800;
    font-size: 45px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin: 50px 200px;
}
nav ul{
    display: flex;
    align-items: center;
    
}
nav li{
    list-style: none;
    margin-left: 50px;
}

.btn-primary{
    height: 64px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: #fd6e0a;
    color: white;
    font-size: 20px;
    border: 0;
    padding: 18px 35px;
}


/* Banner style  */
.banner{
    margin: 0 200px;
    align-items: center;
    display: flex;

}
.banner-title{
    font-weight: 700;
    font-size: 85px;

}
.banner-sub-title{
    font-weight: 600;
    font-size: 45px;
    margin-bottom: 20px;
}
.banner-description{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Main section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
/* About section style */
.about{
    margin-top: 130px;
    background-color: #fff8f3;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 130px 50px;
}

.section-title{
    text-align: center;
    margin-bottom: 30px;
    font-size: 35px;
    font-weight: 700;
}

.section-discription{
    color: #757575;
    font-size: 18px;
    margin-bottom: 30px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.info-title{
    font-weight: 700;
    font-size: 20px;
    color: #757575;

}
.info-description{
        font-weight: 700;
            font-size: 20px;
            color: #474747;
}

/* What i do section style */
.title-description{
    max-width: 800px;
    font-size: 700;
    font-size: 20px;
    color: #757575;
    margin: 30px auto;
}
.my-skill{
    margin-top: 130px;
}
.skill-container{
    display: flex;
    gap: 24px;


}
.skill{
    background-color: #fff8ff;
    padding: 30px;
    box-shadow: 0px 6px 50px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.skill-title{
    font-weight: 700;
    font-size: 20px;
    margin: 30px auto 20px;

}
.skill-description{
    font-weight: 700;
    color: #757575;
    font-size: 20px;
}
/* Resume Styles */
.resume-content {
    display: flex;
    gap: 24px;
}

.resume-item {
    margin-top: 30px;
    margin-bottom: 30px;
}

.resume .title {
    font-weight: 700;
    font-size: 25px;
    color: #474747;
    margin-bottom: 10px;
}

.resume .sub-title {
    color: #757575;
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
}

.resume .description {
    color: #757575;
}

.resume-button {
    margin-top: 50px;
    text-align: center;
}

/* contact styles */
.contact {
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}

.contact .section-title {
    text-align: left;
}

.contact input[type="text"],
input[type="email"],
textarea {
    margin-bottom: 24px;
    border: 0;
    width: 100%;
    padding: 18px 30px;
}

input {
    height: 64px;
}

.contact a {
    text-decoration: none;
}